.container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(4, 0.5fr);
	justify-items: center;
	align-items: center;
}
.header {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	font-size: x-large;
}

.body {
	grid-column: 1 / span -1;
	grid-row: 2 / span 1;
}

.temp {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}

.condition {
	grid-column: 3 / span 2;
	grid-row: 2 / span 1;
}

.btn {
	grid-column: 2 / span 1;
}
