.container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(6, 1fr);
	background: linear-gradient(
		to left,
		rgb(0, 40, 170, 0.8),
		rgba(78, 78, 255, 0.4)
	);
}

.title {
	grid-column: 1 / span 3;
	grid-row: 1 / span 1;
	padding: 1rem;
	margin: 0.1rem;
	align-self: center;
}

.buttons {
	grid-column: 5 / -1;
	grid-row: 1 / span 1;
	align-self: center;
	justify-self: end;
}

button {
	padding: 1rem;
	margin-right: 1rem;
}

.temp {
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
	align-self: center;
	justify-self: center;
}

.mode {
	grid-column: 4 / span 1;
	grid-row: 1 / span 1;
	align-self: center;
	justify-self: center;
}
