.container {
	display: grid;
	grid-template-rows: 20vh 1fr;
	grid-template-columns: repeat(6, 1fr);
}

.header {
	grid-column: 1/ -1;
	grid-row: 1 / 2;
}

.body {
	grid-column: 1 / -1;
	grid-row: 2 / 4;
}
